# Configuration file

##########################################################################################################
# autocrafting
#--------------------------------------------------------------------------------------------------------#
# Enable patterns with substitutions on to have their substitutes to be auto craftable.
# This changes the crafting tree, and can show missing ingredients for the substitute, instead of the patterned item
##########################################################################################################

autocrafting {
    B:EnableAutocraftinSubstitutes=false
}


automation {
    I:formationPlaneEntityLimit=128
}


##########################################################################################################
# blockingmode
#--------------------------------------------------------------------------------------------------------#
# Map of items to not block when blockingmode is enabled.
# [modid]
# modid:item:metadata(optional,default:0)
# Supports more than one modid, so you can block different things between, for example, actuallyadditions or enderio
##########################################################################################################

blockingmode {
    # NonBlockingItems
    S:nonBlockingItems <
        contenttweaker:smallgearextrudershape
        contenttweaker:creativeportabletankmold
        ore:lensAlmandine
        ore:lensBlueTopaz
        ore:lensDiamond
        ore:lensEmerald
        ore:lensGreenSapphire
        ore:lensRutile
        ore:lensRuby
        ore:lensSapphire
        ore:lensTopaz
        ore:lensJasper
        ore:lensGlass
        ore:lensOlivine
        ore:lensOpal
        ore:lensAmethyst
        ore:lensLapis
        ore:lensEnderPearl
        ore:lensEnderEye
        ore:lensGarnetRed
        ore:lensGarnetYellow
        ore:lensVinteum
        ore:lensNetherStar
     >
}


craftingcpu {
    I:craftingCalculationTimePerTick=5
}


general {
    # Max channel number may not exceed 256
    I:denseChannelCapacity=32

    # Max channel number may not exceed 256
    I:normalChannelCapacity=8

    # Channel limit for Quantum Ring bridges
    I:quantumRingChannelCapacity=32

    # Will auto-remove items that crash when being loaded from storage. This will destroy those items instead of crashing the game!
    B:removeCrashingItemsOnLoad=false

    # Max channel number may not exceed 256
    I:smartChannelCapacity=8
}


##########################################################################################################
# grindstone
#--------------------------------------------------------------------------------------------------------#
# Creates recipe of the following pattern automatically: '1 oreTYPE => 2 dustTYPE' and '(1 ingotTYPE or 1 crystalTYPE or 1 gemTYPE) => 1 dustTYPE'
##########################################################################################################

grindstone {
    # Blacklists the exact oredict name from being handled by any recipe.
    S:blacklist <
     >

    # The list of types to handle. Specify without a prefix like ore or dust.
    S:grinderOres <
        Obsidian
        Ender
        EnderPearl
        Coal
        Iron
        Gold
        Charcoal
        NetherQuartz
        CertusQuartz
        Wheat
        Fluix
        Copper
        Tin
        Silver
        Lead
        Bronze
        Brass
        Platinum
        Nickel
        Invar
        Aluminium
        Electrum
        Osmium
        Zinc
     >

    # Chance to actually get an output with stacksize > 1.
    D:oreDoublePercentage=90.0
}


##########################################################################################################
# modintegration
#--------------------------------------------------------------------------------------------------------#
# Valid Values are 'AUTO', 'ON', or 'OFF' - defaults to 'AUTO' ; Suggested that you leave this alone unless your experiencing an issue, or wish to disable the integration for a reason.
##########################################################################################################

modintegration {
    S:CraftTweaker=AUTO
    S:InventoryTweaks=AUTO
    S:JustEnoughItems=AUTO
    S:Mekanism=AUTO
    S:TheOneProbe=AUTO
    S:Waila=AUTO
}


spatialio {
    D:spatialPowerExponent=1.35
    D:spatialPowerMultiplier=1250.0
    I:storageDimensionID=-1
    I:storageProviderID=-1
}


##########################################################################################################
# tickrates
#--------------------------------------------------------------------------------------------------------#
#  Min / Max Tickrates for dynamic ticking, most of these components also use sleeping, to prevent constant ticking, adjust with care, non standard rates are not supported or tested.
##########################################################################################################

tickrates {
    I:AnnihilationPlane.max=120
    I:AnnihilationPlane.min=2
    I:Charger.max=120
    I:Charger.min=10
    I:ExportBus.max=60
    I:ExportBus.min=5
    I:FluidExportBus.max=60
    I:FluidExportBus.min=5
    I:FluidImportBus.max=40
    I:FluidImportBus.min=5
    I:FluidStorageBus.max=60
    I:FluidStorageBus.min=5
    I:IOPort.max=5
    I:IOPort.min=1
    I:ImportBus.max=40
    I:ImportBus.min=5
    I:Inscriber.max=1
    I:Inscriber.min=1
    I:Interface.max=120
    I:Interface.min=5
    I:ItemTunnel.max=60
    I:ItemTunnel.min=5
    I:LightTunnel.max=60
    I:LightTunnel.min=5
    I:METunnel.max=20
    I:METunnel.min=5
    I:OpenComputersTunnel.max=5
    I:OpenComputersTunnel.min=1
    I:PressureTunnel.max=120
    I:PressureTunnel.min=1
    I:StorageBus.max=60
    I:StorageBus.min=5
    I:VibrationChamber.max=40
    I:VibrationChamber.min=10
}


worldgen {
    D:meteoriteClusterChance=0.1
    I:meteoriteDimensionWhitelist <
        0
     >
    I:meteoriteMaximumSpawnHeight=180
    I:minMeteoriteDistance=707
    I:quartzOresClusterAmount=15
    I:quartzOresPerCluster=4
    D:spawnChargedChance=0.07999998331069946
}


