# Configuration file

client {
    # Possible Values: AE, EU, RF, GTEU
    S:PowerUnit=AE

    # Possible Values: AUTOSEARCH, AUTOSEARCH_KEEP, MANUAL_SEARCH, MANUAL_SEARCH_KEEP, JEI_AUTOSEARCH, JEI_AUTOSEARCH_KEEP, JEI_MANUAL_SEARCH, JEI_MANUAL_SEARCH_KEEP
    S:SEARCH_MODE=AUTOSEARCH

    # Possible Values: YES, NO, UNDECIDED
    S:SEARCH_TOOLTIPS=YES

    # Possible Values: TALL, FULL, SMALL
    S:TERMINAL_STYLE=TALL

    # Controls buttons on Crafting Screen : Capped at 9
    I:craftAmtButton1=1

    # Controls buttons on Crafting Screen : Capped at 99
    I:craftAmtButton2=10

    # Controls buttons on Crafting Screen : Capped at 999
    I:craftAmtButton3=100

    # Controls buttons on Crafting Screen : Capped at 9999
    I:craftAmtButton4=1000
    B:disableColoredCableRecipesInJEI=true
    B:enableEffects=true

    # Controls buttons on Level Emitter Screen : Capped at 9
    I:levelAmtButton1=1

    # Controls buttons on Level Emitter Screen : Capped at 99
    I:levelAmtButton2=10

    # Controls buttons on Level Emitter Screen : Capped at 999
    I:levelAmtButton3=100

    # Controls buttons on Level Emitter Screen : Capped at 9999
    I:levelAmtButton4=1000

    # Controls buttons on Priority Screen : Capped at 9
    I:priorityAmtButton1=1

    # Controls buttons on Priority Screen : Capped at 99
    I:priorityAmtButton2=10

    # Controls buttons on Priority Screen : Capped at 999
    I:priorityAmtButton3=100

    # Controls buttons on Priority Screen : Capped at 9999
    I:priorityAmtButton4=1000

    # Whether to show a preview of cell contents in tooltips.
    B:showCellContentsPreview=true

    # Whether to add "Craftable" to item tooltips when they can be crafted automatically.
    B:showCraftableTooltip=true

    # Whether to show a preview of part and facade placement.
    B:showPlacementPreview=true
    B:useColoredCraftingStatus=true
    B:useTerminalUseLargeFont=false
}


features {

    rendering {
        B:AlphaPass=true
    }

}


 