# Configuration file

battery {
    I:chargedStaff=8000
    I:colorApplicator=20000
    I:entropyManipulator=200000
    I:matterCannon=200000
    I:portableCell=20000
    I:wirelessTerminal=1600000
}


condenser {
    I:MatterBalls=256
    I:Singularity=256000
}


features {

    energy {
        B:DenseEnergyCells=true
        B:EnergyAcceptor=true
        B:EnergyCells=true
    }

}


powerratios {
    D:ForgeEnergy=0.5
    D:GTEU=2.0
    D:IC2=2.0
    D:UsageMultiplier=1.0
}


powerusage {
    # Multiplier for the active power drain of Molecular Assemblers
    D:assemblerEnergyMultiplier=1.0

    # Multiplier for the idle drain of ME Storage Cells
    D:cellPowerMultiplier=1.0

    # Base idle power drain of ME Controllers
    D:controllerIdleDrain=3.0

    # Multiplier for the active power drain of Inscribers
    D:inscriberEnergyMultiplier=1.0
}


##########################################################################################################
# wireless
#--------------------------------------------------------------------------------------------------------#
# Range= wirelessBaseRange + wirelessBoosterRangeMultiplier * Math.pow( boosters, wirelessBoosterExp )
# PowerDrain= wirelessBaseCost + wirelessCostMultiplier * Math.pow( boosters, 1 + boosters / wirelessHighWirelessCount )
##########################################################################################################

wireless {
    D:wirelessBaseCost=8.0
    D:wirelessBaseRange=16.0
    D:wirelessBoosterExp=1.5
    D:wirelessBoosterRangeMultiplier=1.0
    D:wirelessCostMultiplier=1.0
    D:wirelessTerminalDrainMultiplier=1.0
}


 