# Configuration file

##########################################################################################################
# features
#--------------------------------------------------------------------------------------------------------#
# Warning: Disabling a feature may disable other features depending on it.
##########################################################################################################

features {
    # Multiplier for crystal growth speed
    D:crystalGrowthMultiplier=1.0

    # List of dimension IDs where QNB is disabled
    I:disableQNBInDimensions <
     >

    # Override max speed upgrades for all machines. Set to > 0 to use. Stack upgrades in slots to exceed 5.
    I:maxSpeedUpgradesOverride=-1

    # Multiplier for energy cost increase by speed upgrades
    D:upgradeEnergyMultiplier=1.0

    # Multiplier for speed upgrade effectiveness
    D:upgradeSpeedMultiplier=1.0

    world {
        B:CertusOre=true
        B:CertusQuartzWorldGen=true
        B:ChargedCertusOre=true

        # Blocks that are not used in any essential recipes, also slabs and stairs.
        B:DecorativeBlocks=true
        B:DecorativeLights=true
        B:Flour=true
        B:MeteoriteWorldGen=true
        B:SkyStoneChests=true
        B:TinyTNT=true
        B:VillagerTrading=true
    }

    machines {
        B:Charger=true
        B:CrystalGrowthAccelerator=true
        B:GrindStone=true
        B:Inscriber=true
        B:VibrationChamber=true
    }

    toolsclassifications {
        B:CertusQuartzTools=true
        B:NetherQuartzTools=true
        B:PoweredTools=true
    }

    tools {
        B:ChargedStaff=true
        B:ColorApplicator=true
        B:EntropyManipulator=true
        B:MatterCannon=true
        B:MeteoriteCompass=true
        B:PaintBalls=true
        B:QuartzAxe=true
        B:QuartzHoe=true
        B:QuartzKnife=true
        B:QuartzPickaxe=true
        B:QuartzSpade=true
        B:QuartzSword=true
        B:QuartzWrench=true
        B:WirelessAccessTerminal=true
        B:WirelessCraftingTerminal=true
        B:WirelessFluidTerminal=true
        B:WirelessInterfaceTerminal=true
        B:WirelessPatternTerminal=true
    }

    networkfeatures {
        B:Channels=true
        B:QuantumLinkingCard=true
        B:QuantumNetworkBridge=true
        B:Security=true
        B:SpatialIO=true
    }

    networkbuses {
        B:AnnihilationPlane=true
        B:CableAnchor=true
        B:CraftingTerminal=true
        B:ExpandedProcessingPatternTerminal=true
        B:ExportBus=true
        B:FluidAnnihilationPlane=true
        B:FluidExportBus=true
        B:FluidFormationPlane=true
        B:FluidImportBus=true
        B:FluidInterface=true
        B:FluidLevelEmitter=true
        B:FluidStorageBus=true
        B:FluidTerminal=true
        B:FormationPlane=true
        B:IdentityAnnihilationPlane=true
        B:ImportBus=true
        B:Interface=true
        B:LevelEmitter=true
        B:Panels=true
        B:PartConversionMonitor=true
        B:QuartzFiber=true
        B:StorageBus=true
        B:StorageMonitor=true
        B:Terminal=true
        B:ToggleBus=true
    }

    portablecell {
        B:PortableCell=true
    }

    networktool {
        B:MemoryCard=true
        B:NetworkTool=true
    }

    cables {
        B:CoveredCables=true
        B:DenseCables=true
        B:GlassCables=true
        B:SmartCables=true
    }

    p2ptunnels {
        B:P2PTunnelPressure=true
    }

    blockfeatures {
        B:MassCannonBlockDamage=true
        B:TinyTNTBlockDamage=true
    }

    misc {
        B:Achievements=true
        B:CraftingLog=false
        B:Creative=true
        B:DebugLogging=false
        B:GrinderLogging=false
        B:IntegrationLogging=false
        B:LightDetector=true
        B:LogSecurityAudits=false
        B:Logging=true
        B:PacketLogging=false
        B:UnsupportedDeveloperTools=false
        B:UpdateLogging=false
        B:WebsiteRecipes=false
    }

    crafting {
        B:EnableDisassemblyCrafting=true
        B:InWorldFluix=true
        B:InWorldPurification=true
        B:InWorldSingularity=true
        B:InterfaceTerminal=true
    }

    craftingfeatures {
        B:CraftingCPU=true
        B:CraftingToasts=true
        B:MolecularAssembler=true
        B:Patterns=true
    }

    upgrades {
        B:AdvancedCards=true
        B:BasicCards=true
        B:ViewCell=true
    }

    materials {
        B:Certus=true
        B:CrystalSeeds=true
        B:Dusts=true
        B:Fluix=true
        B:Nuggets=true
        B:PureCrystals=true
        B:QuartzGlass=true
        B:Silicon=true
        B:SkyStone=true
    }

    craftingcomponents {
        B:Cores=true
        B:MatterBall=true
        B:Presses=true
        B:PrintedCircuits=true
        B:Processors=true
    }

    commands {
        B:ChunkLoggerTrace=false
    }

}


