# Configuration file

##########################################################################################################
# controllersize
#--------------------------------------------------------------------------------------------------------#
# Set the max size of a controller in any of the 3 axis.
# Each is between [1, 64)
##########################################################################################################

controllersize {
    I:maxControllerSizeX=7
    I:maxControllerSizeY=7
    I:maxControllerSizeZ=7
}


features {

    storage {
        B:Condenser=true
        B:IOPort=true
        B:MEChest=true
        B:MEDrive=true
        B:StorageCells=true
    }

}


storage {
    # Global multiplier for AE2 cell storage sizes
    D:storageSizeMultiplier=1.0
}


