# Configuration file

capacitors {
    # Fluid per block in dynamic tank.
    I:DynamicTankFluidPerTank=300000
    D:HybridStorageEnergy=100000.0

    # Max height of the Induction Matrix.
    I:InductionMaxHeight=8

    # Max radius of the Induction Matrix.
    I:InductionMaxRadius=16

    # Add filled gas tanks to creative/JEI.
    B:PrefilledGasTanks=true
    D:chargePadStorage=200000.0

    # Percentage to keep when dumping excess.
    D:dumpExcessKeepRatio=0.9
}


