# Configuration file

cables {
    # Allow alloy right-click upgrades for transmitters.
    B:AllowTransmitterAlloyUpgrade=true

    # Max energy transfer per Entangloporter tick.
    D:QuantumEntangloporterEnergyTransfer=1.6E7

    # Max fluid per tick. Default is ultimate capacity.
    I:quantumEntangloporterFluidBuffer=512000

    # Max gas per tick. Default is ultimate capacity.
    I:quantumEntangloporterGasBuffer=8192000
}


