# Configuration file

factories {
    # Lasers break blocks, flamethrowers start fires.
    B:AestheticWorldDamage=true

    # Allow alloy right-click upgrades for transmitters.
    B:AllowTransmitterAlloyUpgrade=true

    # Energy per tick.
    D:AlloyUsage=50.0
    D:AmbientAccumulatorEnergyStorage=2000000.0

    # Energy per tick.
    D:AmbientAccumulatorUsage=200.0

    # Energy per tick.
    D:AssemblicatorUsage=100.0

    # Bins remove items when closed.
    B:BinRemoveItemsOnClose=false

    # Max height of the Thermoelectric Boiler.
    I:BoilerMaxHeight=8

    # Max radius of the Thermoelectric Boiler.
    I:BoilerMaxRadius=16

    # Energy per tick.
    D:BrushedUsage=50.0

    # Energy per tick.
    D:CellExtractorUsage=50.0

    # Energy per tick.
    D:CellSeparatorUsage=50.0

    # Energy per tick.
    D:CentrifugeUsage=200.0

    # Energy per tick.
    D:ChemicalInfuserUsage=200.0

    # Energy per tick.
    D:CombinerUsage=50.0

    # Energy per tick.
    D:CrusherUsage=50.0

    # Energy per tick.
    D:CrystallizerUsage=400.0

    # Maximum Y-level for Digital Miner.
    I:DigitalMinerMaxY=255

    # Minimum Y-level for Digital Miner.
    I:DigitalMinerMinY=0

    # Disable BIN synthesis recipes.
    B:DisableBinRecipes=false

    # Energy per tick.
    D:DissolutionUsage=400.0

    # Threshold above which contents are ejected immediately.
    D:EjectionThresholdHigh=0.8500000238418579

    # Threshold below which output waits for MaxEjectionDelay.
    D:EjectionThresholdLow=0.5

    # Joules required for one unit of heat.
    D:EnergyPerHeat=1000.0

    # Energy (Joules) a piece of redstone gives.
    D:EnergyPerRedstone=10000.0

    # Energy (Joules) a redstone block gives.
    D:EnergyPerRedstoneBlock=90000.0

    # Energy per tick.
    D:EnrichmentUsage=50.0

    # Burn time for Ethylene.
    I:EthyleneBurnTime=40

    # Base outer size of the Thermal Evaporation Tower (Default: 4).
    I:EvaporationBaseSize=5

    # Fluid capacity per internal block of the tower.
    I:EvaporationFluidPerBlock=64000

    # Tower heat loss per tick.
    D:EvaporationHeatDissipation=0.02

    # Maximum allowed height of the Thermal Evaporation Tower.
    I:EvaporationMaxHeight=18

    # Max Tower Temperature.
    D:EvaporationMaxTemp=3000.0

    # Heat gain per solar panel array.
    D:EvaporationSolarMultiplier=0.2

    # Temperature to production ratio.
    D:EvaporationTempMultiplier=0.1

    # Maximum speed multiplier for specific machines.
    I:GlobalMachineSpeedMultiplier=256

    # Heat produced per fuel tick in Fuelwood Heater.
    D:HeatPerFuelTick=4.0

    # Energy per recipe unit of heavy water.
    D:HeavyWaterUsage=800.0

    # Energy per mB of Hydrogen.
    D:HydrogenEnergyDensity=200.0

    # Threads for Large Chemical Infuser. Affects speed, energy use, and capacity.
    I:InfuserThreads=256

    # Energy per tick.
    D:InfuserUsage=50.0

    # Energy per tick.
    D:InjectionUsage=400.0

    # Ticks between automated item ejections.
    I:ItemEjectionDelay=10

    # If true, items are ejected instantly (ignores delay).
    B:ItemsEjectInstant=false

    # Energy per block hardness for laser digging.
    I:LaserDiggingEnergy=100000

    # Max laser travel distance.
    I:LaserRange=64

    # Energy storage capacity.
    D:LaserStorage=2000000.0

    # Energy per tick.
    D:LaserUsage=5000.0

    # Maximum Joules per mB of Steam.
    D:MaxEnergyPerSteam=200.0

    # Maximum ejection delay for gases and fluids.
    I:MaxFluidGasEjectionDelay=40

    # Plenisher stops after this many blocks.
    I:MaxPlenisherNodes=4000

    # Max distance to pull fluid from for the Electric Pump.
    I:MaxPumpRange=10

    # Energy multiplier for silk touch mode.
    I:MinerSilkMultiplier=4

    # Energy per tick.
    D:MinerUsage=100.0
    D:ModificationStationStorage=2000000.0

    # Energy per tick.
    D:ModificationStationUsage=100.0

    # Energy per tick.
    D:NucleosynthesizerUsage=200.0

    # Energy per tick.
    D:NutritionalLiquifierUsage=200.0

    # Chance to produce logs in Organic Farm.
    D:OrganicFarmLogChance=1.0

    # Chance to produce seeds in Organic Farm.
    D:OrganicFarmSeedChance=1.0

    # Energy per tick.
    D:OrganicFarmUsage=50.0

    # Energy per tick.
    D:OsmiumCompressorUsage=100.0

    # Energy per tick.
    D:OxidationUsage=200.0

    # Energy per tick.
    D:PRCUsage=5.0

    # Energy per tick.
    D:PlenisherUsage=100.0

    # Internal fluid capacity of the Electric Pump in mB.
    I:PumpCapacity=10000

    # Base ticks required for one pump operation.
    I:PumpTicksRequired=20

    # Energy per tick.
    D:PumpUsage=100.0

    # Water/Heavy Water blocks are removed on pump.
    B:PumpWaterSources=false

    # Multiplier for fluid extracted per block (1 block = 1000mB * Multiplier).
    I:PumpYieldMultiplier=50

    # Energy per tick.
    D:PurificationUsage=200.0

    # Automatically add recipes for all items to the Recycler.
    B:RecyclerAutoRecipes=true
    D:RecyclerStorage=200000.0

    # Energy per tick.
    D:RecyclerUsage=50.0

    # Energy per tick.
    D:RollingUsage=50.0

    # If true, disables automatic change of ejection mode in Rotary Condensentrator.
    B:RotaryCondensentratorAutoEject=false

    # Energy per tick.
    D:RotaryUsage=50.0

    # Energy cost for processing 1mB of Polonium in SPS.
    D:SPSEnergyPerInput=1000000.0

    # Amount of Polonium required to produce 1mB of Antimatter.
    I:SPSInputPerAntimatter=1000

    # Gas tank capacity for SPS in mB.
    I:SPSTankCapacity=1000

    # Chance of sawdust (Logs -> Planks).
    D:SawdustChanceLog=1.0

    # Chance of sawdust (Planks -> Sticks).
    D:SawdustChancePlank=0.25

    # Energy per tick.
    D:SawmillUsage=50.0

    # Threads for Large Electrolytic Separator. Affects speed, energy use, and capacity.
    I:SeparatorThreads=256

    # Energy per tick.
    D:SeparatorUsage=160000.0

    # Display Recycler recipes in JEI.
    B:ShowRecyclerInJEI=true

    # Energy per tick.
    D:SmelterUsage=50.0

    # Threads for Large Solar Neutron Activator. Affects speed, energy use, and capacity.
    I:SolarNeutronThreads=256

    # Energy per tick.
    D:StampingUsage=50.0

    # Heat each Boiler element produces.
    D:SuperheatingHeatTransfer=10000.0

    # Rate of recording tank content changes. Affects ejection speed.
    I:TankContentChangeRecord=20

    # Allow Structural Glass in Thermal Evaporation Plants (Warning: May have issues).
    B:ThermalEvapStructuralGlass=false

    # Allow using Tier Installers to upgrade Tile Entities.
    B:TierInstallerTEUpgrade=false

    # Energy per tick.
    D:TurningUsage=50.0

    # Base factor for working out machine performance with upgrades.
    I:UpgradeModifier=10

    # Enable the default configuration UI for machines.
    B:UseDefaultConfigSurface=true

    # Energy per tick.
    D:VibratorUsage=50.0

    # Threads for Large Chemical Washer. Affects speed, energy use, and capacity.
    I:WasherThreads=256

    # Energy per tick.
    D:WasherUsage=200.0
    D:alloyStorage=400000.0
    D:brushedStorage=400000.0
    D:cellExtractorStorage=400000.0
    D:cellSeparatorStorage=400000.0
    D:chargePadStorage=400000.0
    D:chemicalCrystallizerStorage=400000.0
    D:chemicalDissolutionChamberStorage=400000.0
    D:chemicalInfuserStorage=400000.0
    D:chemicalInjectionChamberStorage=400000.0
    D:chemicalWasherStorage=400000.0
    D:combinerStorage=400000.0
    D:crusherStorage=400000.0

    # Max radius for the Digital Miner.
    I:digitalMinerMaxRadius=16
    D:digitalMinerStorage=400000.0
    D:electricPumpStorage=400000.0
    D:electrolyticSeparatorStorage=400000.0
    D:energizedSmelterStorage=400000.0
    D:enrichmentChamberStorage=400000.0
    D:fluidicPlenisherStorage=400000.0
    D:formulaicAssemblicatorStorage=400000.0
    D:isotopicCentrifugeStorage=400000.0
    D:liquifierNutritionalStorage=400000.0
    D:metallurgicInfuserStorage=400000.0
    D:nucleosynthesizerStorage=400000.0
    D:organicfarmStorage=400000.0
    D:osmiumCompressorStorage=400000.0
    D:oxidationChamberStorage=400000.0
    D:precisionSawmillStorage=400000.0
    D:pressurizedReactionBaseStorage=400000.0
    D:purificationChamberStorage=400000.0
    D:rollingStorage=400000.0
    D:rotaryCondensentratorStorage=400000.0
    D:stampingStorage=400000.0
    D:turningStorage=400000.0
}


