# Configuration file

global {
    # Enable Anchor Upgrade logic.
    B:AllowChunkloading=false

    # Enable personal security system.
    B:AllowProtection=true

    # Allow spawners to be moved with Cardboard Box.
    B:AllowSpawnerBoxPickup=true

    # Eating banana-related mineral items grants a small amount of radiation.
    B:BananaRadiation=false

    # Radiation dose per banana consumed.
    D:BananaRadiationLevel=7.8E-8

    # Disables Flux Networks power integration.
    B:BlacklistFluxPower=false

    # Disables Forge Energy (FE,IF,uF,CF) power integration.
    B:BlacklistForgePower=false

    # Disables Thermal Expansion RedstoneFlux power integration.
    B:BlacklistRFPower=false

    # Ticks until machine syncs with client.
    I:ClientUpdateDelay=20

    # Allow Configurator to clear Create Bins.
    B:ConfiguratorClearBin=false

    # Allow Configurator to clear Create Fluid Tanks.
    B:ConfiguratorClearFluidTank=false

    # Allow Configurator to clear Create Gas Tanks.
    B:ConfiguratorClearGasTank=false

    # Allow recipes to use circuits from other mods.
    B:ControlCircuitOreDict=true

    # Set disabled machine blocks to air.
    B:DestroyDisabledBlocks=true

    # Audible sparkles.
    B:DynamicTankEasterEgg=false

    # Enable default gas collector recipes for all dimensions.
    B:EnableDefaultAllAddAmbientGas=true

    # Allows OreDict diamonds to be used in the Enrichment Chamber (like synthetic diamonds).
    B:EnableDiamondCompat=true

    # Allows Railcraft poor ores to be processed in the Purification Chamber.
    B:EnablePoorOresCompat=true

    # Enables quartz dust enrichment and quartz ore-to-dust recipes.
    B:EnableQuartzCompat=true

    # If silicon-adding mods are detected (AE2, EnderIO, etc.), Control Circuits will require Silicon instead of Iron.
    B:EnableSiliconCompat=false

    # Displayed energy type in Mekanism GUIs.
    S:EnergyType=RF

    # Prevent placing blocks if stack count exceeds 1.
    B:EnforcePlacementLimits=true

    # Conversion multiplier from Joules to Forge Energy (Joules * ForgeToJoules = FE)
    D:ForgeToJoules=0.4

    # Conversion multiplier from Forge Energy to Joules (FE * JoulesToForge = Joules)
    D:JoulesToForge=2.5

    # Conversion multiplier from RF to Joules (RF * JoulesToRF = Joules)
    D:JoulesToRF=2.5

    # Log Mekanism packet names.
    B:LogPackets=false

    # Ops bypass security restrictions.
    B:OpsBypassRestrictions=false

    # Conversion multiplier from Joules to RF (Joules * RFToJoules = RF)
    D:RFToJoules=0.4

    # Show hidden gases in Creative Gas Tanks (Requires PrefilledGasTanks).
    B:ShowHiddenGases=true

    # Enable baby skeletons spawning.
    B:SpawnBabySkeletons=true

    # Displayed temperature unit in Mekanism GUIs.
    S:TemperatureUnits=K

    # Void gas inside machine if no recipe matches.
    B:VoidInvalidGases=true

    # Chunk check radius for radiation.
    I:chunkCheckRadius=2

    # Dimensions where gas collection is disabled.
    I:defaultAmbientDimBlacklist <
     >

    # mB of paste per half-food.
    I:mbPerFood=50

    # Severity (0-1) for negative effects.
    D:negativeEffectsMinSeverity=0.1

    # Enable worldwide radiation effects.
    B:radiationEnabled=true

    # Saturation of Nutritional Paste.
    D:saturation=0.800000011920929

    # Radiation decay rate for sources.
    D:sourceDecayRate=0.9995

    # Radiation decay rate for entities.
    D:targetDecayRate=0.9995

    # Valid tag prefixes for Oredictionificator.
    S:validItemFilters <
        ingot
        ore
        dust
        nugget
     >

    tier {

        basic {
            # Max items stored in a Basic bin.
            I:BasicBinStorage=4096

            # Internal buffer (Joules) of each Basic cable.
            I:BasicCableCapacity=1000000000

            # Insulation value of Basic thermodynamic conductor.
            D:BasicConductorConductionInsulation=200.0

            # Heat capacity of Basic thermodynamic conductor.
            D:BasicConductorHeatCapacity=1.0

            # Conduction value of Basic thermodynamic conductor.
            D:BasicConductorInverseConduction=5.0

            # Max Joules stored in a Basic energy cube.
            D:BasicEnergyCubeMaxEnergy=1.6E7

            # Output rate (Joules) of a Basic energy cube.
            D:BasicEnergyCubeOutput=800000.0

            # Output rate (mB) of Basic fluid tank.
            I:BasicFluidTankOutput=16000

            # Storage size (mB) of Basic fluid tank.
            I:BasicFluidTankStorage=32000

            # Output rate (mB) of Basic gas tank.
            I:BasicGasTankOutput=8000

            # Storage size (mB) of Basic gas tank.
            I:BasicGasTankStorage=64000

            # Max Joules for Basic induction cell.
            D:BasicInductionCellMaxEnergy=8.0E9

            # Max Joules/t for Basic induction provider.
            D:BasicInductionProviderOutput=8000000.0

            # Capacity (mB) of Basic mechanical pipe.
            I:BasicPipeCapacity=512

            # Pump rate (mB/t) of Basic mechanical pipe.
            I:BasicPipePullAmount=256

            # Throughput rate (items/s) of Basic transporter.
            I:BasicTransporterPullAmount=1

            # Travel speed multiplier of Basic transporter.
            I:BasicTransporterSpeed=5

            # Capacity (mB) of Basic pressurized tube.
            I:BasicTubeCapacity=512

            # Pump rate (mB/t) of Basic pressurized tube.
            I:BasicTubePullAmount=256
        }

        advanced {
            # Max items stored in a Advanced bin.
            I:AdvancedBinStorage=8192

            # Internal buffer (Joules) of each Advanced cable.
            I:AdvancedCableCapacity=1500000000

            # Insulation value of Advanced thermodynamic conductor.
            D:AdvancedConductorConductionInsulation=4000.0

            # Heat capacity of Advanced thermodynamic conductor.
            D:AdvancedConductorHeatCapacity=1.0

            # Conduction value of Advanced thermodynamic conductor.
            D:AdvancedConductorInverseConduction=5.0

            # Max Joules stored in a Advanced energy cube.
            D:AdvancedEnergyCubeMaxEnergy=3.2E7

            # Output rate (Joules) of a Advanced energy cube.
            D:AdvancedEnergyCubeOutput=1600000.0

            # Output rate (mB) of Advanced fluid tank.
            I:AdvancedFluidTankOutput=32000

            # Storage size (mB) of Advanced fluid tank.
            I:AdvancedFluidTankStorage=64000

            # Output rate (mB) of Advanced gas tank.
            I:AdvancedGasTankOutput=16000

            # Storage size (mB) of Advanced gas tank.
            I:AdvancedGasTankStorage=256000

            # Max Joules for Advanced induction cell.
            D:AdvancedInductionCellMaxEnergy=2.56E11

            # Max Joules/t for Advanced induction provider.
            D:AdvancedInductionProviderOutput=2.56E8

            # Capacity (mB) of Advanced mechanical pipe.
            I:AdvancedPipeCapacity=2048

            # Pump rate (mB/t) of Advanced mechanical pipe.
            I:AdvancedPipePullAmount=1024

            # Throughput rate (items/s) of Advanced transporter.
            I:AdvancedTransporterPullAmount=16

            # Travel speed multiplier of Advanced transporter.
            I:AdvancedTransporterSpeed=10

            # Capacity (mB) of Advanced pressurized tube.
            I:AdvancedTubeCapacity=2048

            # Pump rate (mB/t) of Advanced pressurized tube.
            I:AdvancedTubePullAmount=1024
        }

        elite {
            # Max items stored in a Elite bin.
            I:EliteBinStorage=32768

            # Internal buffer (Joules) of each Elite cable.
            I:EliteCableCapacity=2000000000

            # Insulation value of Elite thermodynamic conductor.
            D:EliteConductorConductionInsulation=50000.0

            # Heat capacity of Elite thermodynamic conductor.
            D:EliteConductorHeatCapacity=1.0

            # Conduction value of Elite thermodynamic conductor.
            D:EliteConductorInverseConduction=5.0

            # Max Joules stored in a Elite energy cube.
            D:EliteEnergyCubeMaxEnergy=6.4E7

            # Output rate (Joules) of a Elite energy cube.
            D:EliteEnergyCubeOutput=3200000.0

            # Output rate (mB) of Elite fluid tank.
            I:EliteFluidTankOutput=128000

            # Storage size (mB) of Elite fluid tank.
            I:EliteFluidTankStorage=256000

            # Output rate (mB) of Elite gas tank.
            I:EliteGasTankOutput=128000

            # Storage size (mB) of Elite gas tank.
            I:EliteGasTankStorage=1024000

            # Max Joules for Elite induction cell.
            D:EliteInductionCellMaxEnergy=5.12E11

            # Max Joules/t for Elite induction provider.
            D:EliteInductionProviderOutput=5.12E8

            # Capacity (mB) of Elite mechanical pipe.
            I:ElitePipeCapacity=16384

            # Pump rate (mB/t) of Elite mechanical pipe.
            I:ElitePipePullAmount=8192

            # Throughput rate (items/s) of Elite transporter.
            I:EliteTransporterPullAmount=32

            # Travel speed multiplier of Elite transporter.
            I:EliteTransporterSpeed=20

            # Capacity (mB) of Elite pressurized tube.
            I:EliteTubeCapacity=16384

            # Pump rate (mB/t) of Elite pressurized tube.
            I:EliteTubePullAmount=8192
        }

        ultimate {
            # Max items stored in a Ultimate bin.
            I:UltimateBinStorage=262144

            # Internal buffer (Joules) of each Ultimate cable.
            I:UltimateCableCapacity=2147483647

            # Insulation value of Ultimate thermodynamic conductor.
            D:UltimateConductorConductionInsulation=100000.0

            # Heat capacity of Ultimate thermodynamic conductor.
            D:UltimateConductorHeatCapacity=1.0

            # Conduction value of Ultimate thermodynamic conductor.
            D:UltimateConductorInverseConduction=5.0

            # Max Joules stored in a Ultimate energy cube.
            D:UltimateEnergyCubeMaxEnergy=1.28E8

            # Output rate (Joules) of a Ultimate energy cube.
            D:UltimateEnergyCubeOutput=6400000.0

            # Output rate (mB) of Ultimate fluid tank.
            I:UltimateFluidTankOutput=256000

            # Storage size (mB) of Ultimate fluid tank.
            I:UltimateFluidTankStorage=512000

            # Output rate (mB) of Ultimate gas tank.
            I:UltimateGasTankOutput=512000

            # Storage size (mB) of Ultimate gas tank.
            I:UltimateGasTankStorage=8192000

            # Max Joules for Ultimate induction cell.
            D:UltimateInductionCellMaxEnergy=1.024E12

            # Max Joules/t for Ultimate induction provider.
            D:UltimateInductionProviderOutput=1.024E9

            # Capacity (mB) of Ultimate mechanical pipe.
            I:UltimatePipeCapacity=32768

            # Pump rate (mB/t) of Ultimate mechanical pipe.
            I:UltimatePipePullAmount=16384

            # Throughput rate (items/s) of Ultimate transporter.
            I:UltimateTransporterPullAmount=64

            # Travel speed multiplier of Ultimate transporter.
            I:UltimateTransporterSpeed=50

            # Capacity (mB) of Ultimate pressurized tube.
            I:UltimateTubeCapacity=32768

            # Pump rate (mB/t) of Ultimate pressurized tube.
            I:UltimateTubePullAmount=16384
        }

        creative {
            # Max items stored in a Creative bin.
            I:CreativeBinStorage=2147483647

            # Max Joules stored in a Creative energy cube.
            D:CreativeEnergyCubeMaxEnergy=1.7976931348623157E308

            # Output rate (Joules) of a Creative energy cube.
            D:CreativeEnergyCubeOutput=1.7976931348623157E308

            # Output rate (mB) of Creative fluid tank.
            I:CreativeFluidTankOutput=1073741823

            # Storage size (mB) of Creative fluid tank.
            I:CreativeFluidTankStorage=2147483647

            # Output rate (mB) of Creative gas tank.
            I:CreativeGasTankOutput=1073741823

            # Storage size (mB) of Creative gas tank.
            I:CreativeGasTankStorage=2147483647
        }

    }

}


