# Configuration file

reactors {
    # Required surface area per assembly for 100% boiling.
    D:FissionBoilingEfficiency=0.3

    # Max fuel burn rate per Fuel Assembly block.
    D:FissionBurnRateLimit=1.0

    # Structure damage remaining after a failed meltdown.
    D:FissionCriticalResidue=85.0

    # Heat generated per 1 mB of fuel.
    D:FissionHeatPerBurn=2600.0

    # Default burn rate on reactor formation.
    D:FissionIdleSpeed=0.05

    # Max height for a Fission Reactor.
    I:FissionMaxHeight=18

    # Max radius for a Fission Reactor.
    I:FissionMaxRadius=18

    # Tick chance of explosion at critical state.
    D:FissionMeltdownChance=0.001

    # Radiation leak multiplier during meltdown.
    D:FissionMeltdownRadiation=50.0

    # Enable explosions at 100% damage. If false, SCRAM occurs.
    B:FissionMeltdownsEnabled=false

    # Temp (K) where damage accumulation is max.
    D:FissionPointOfNoReturn=130000.0

    # Heat to steam conversion efficiency.
    D:FissionProfitMargin=0.2

    # Temp (K) where structural damage begins.
    D:FissionSafeCeiling=110000.0

    # Internal scale for sodium cooling.
    D:FissionSodiumCoolingPower=0.99

    # Thermal energy held by Superheated Sodium.
    D:FissionSodiumHeatCapacity=0.9

    # Heat absorption multiplier for Liquid Sodium.
    D:FissionSodiumTransfer=1.0

    # Internal scale for water cooling effectiveness.
    D:FissionWaterCoolingPower=0.99

    # How well water absorbs core heat.
    D:FissionWaterTransfer=0.98

    # COOLING: Efficiency of heat transfer to water for steam production.
    D:FusionActiveCooling=0.1

    # Internal storage for Deuterium.
    I:FusionDeuteriumBuffer=10000

    # General energy density for fusion fuel mix.
    D:FusionEnergyDensity=5000000.0

    # LOSS: Heat lost from casing to surrounding air.
    D:FusionEnvironmentalLoss=0.1

    # Internal storage for DT-Fuel mix.
    I:FusionFuelBuffer=10000

    # PROFIT: Energy (Joules) from 1mB of DT-Fuel.
    D:FusionFuelProfit=5000000.0

    # HEAT FLOW: Speed of heat transfer from plasma to casing.
    D:FusionHeatFlow=0.2

    # IGNITION FUEL: DT-Fuel required to charge a Hohlraum.
    I:FusionHohlraumCapacity=10

    # IGNITION: Energy needed to raise plasma temp.
    D:FusionIgnitionCost=50.0

    # CAPACITY: Max fuel injection rate per tick. Must be an even number.
    I:FusionInjectionRate=100

    # PASSIVE: How much casing heat is directly converted to power (0.05 = 5%).
    D:FusionPassiveEfficiency=0.95

    # Base steam tank size (multiplied by Injection Rate).
    I:FusionSteamBuffer=10000000

    # YIELD: Percentage of captured heat converted to steam.
    D:FusionSteamYield=0.005

    # Energy storage capacity for Fusion Reactor.
    D:FusionStorage=2.0E9

    # THERMAL MASS: How slowly/quickly the casing temperature changes.
    D:FusionThermalMass=1.0

    # Internal storage for Tritium.
    I:FusionTritiumBuffer=10000

    # COST: Energy cost to turn 1mB of water into steam.
    D:FusionVaporizationCost=100.0

    # Base water tank size (multiplied by Injection Rate).
    I:FusionWaterBuffer=100000
}


 