# Configuration file

tools {
    # Max damage the Armored Free Runners can absorb.
    I:ArmoredFreeRunnerDamageMax=115

    # Damage reduction multiplier for the Armored Free Runners.
    D:ArmoredFreeRunnerDamageRatio=0.8

    # Max damage the Armored Jetpack can absorb.
    I:ArmoredJetpackDamageMax=115

    # Damage reduction multiplier for the Armored Jetpack.
    D:ArmoredJetpackDamageRatio=0.8

    # Maximum amount of Nutritional Paste storable in the Canteen.
    I:CanteenMaxPaste=64000

    # Attack speed of the Atomic Disassembler.
    D:DisassemblerAttackSpeed=-2.4

    # Base battery capacity of the Atomic Disassembler.
    D:DisassemblerBatteryCapacity=1000000.0

    # Base charge rate of the Atomic Disassembler.
    D:DisassemblerChargeRate=5000.0

    # The max damage applied by the Atomic Disassembler when used as a weapon.
    I:DisassemblerDamageMax=20

    # The min damage applied by the Atomic Disassembler when used as a weapon.
    I:DisassemblerDamageMin=8

    # Base energy usage (Joules) of the Atomic Disassembler. (Gets multiplied by speed factor)
    D:DisassemblerEnergyUsage=10.0

    # Cost in Joules of using the Atomic Disassembler as a weapon.
    D:DisassemblerEnergyUsageWeapon=2000.0

    # Efficiency multiplier for the 'Fast' mode on the Atomic Disassembler.
    I:DisassemblerFastMode=32

    # The max number of blocks that can be vein mined by the Atomic Disassembler.
    I:DisassemblerMiningCount=128

    # Efficiency multiplier for the 'Slow' mode on the Atomic Disassembler.
    I:DisassemblerSlowMode=8

    # Enable the 'Vein Mining' mode on the Atomic Disassembler.
    B:DisassemblerVeinMining=true

    # Enable the wrench mode on the Configurator.
    B:EnableConfiguratorWrenchMode=true

    # Joules used per half-heart of fall damage reduced by Free Runners.
    D:FreeRunnerFallEnergyCost=50.0

    # Percent of fall damage absorbed by Free Runners.
    D:FreeRunnerFallReduction=1.0

    # Maximum amount of Hydrogen storable in the Jetpack.
    I:JetpackMaxGas=24000

    # Chance that mobs will spawn wearing Mekanism armor (0.00 - 1.00).
    D:MobArmorSpawnRate=0.03

    # If true, allows plastic items to 'fall through' the wrench action.
    B:PlasticWrenchFallThrough=false

    # Maximum amount of Oxygen storable in the Scuba Tank.
    I:ScubaMaxGas=24000

    # Percent of damage taken from anvil that can be absorbed by the MekaSuit when there is enough power and a full suit is equipped.
    D:anvilDamageReductionRatio=1.0

    # Energy capacity (Joules) of MekaSuit.
    D:baseEnergyCapacity=1.6E7

    # Energy usage.
    D:baseJumpEnergyUsage=1000.0

    # Percent of damage taken from cactus that can be absorbed by the MekaSuit when there is enough power and a full suit is equipped.
    D:cactusDamageReductionRatio=1.0

    # Charge rate.
    D:chargeRate=100000.0

    # Percent of damage taken from cramming that can be absorbed by the MekaSuit when there is enough power and a full suit is equipped.
    D:crammingDamageReductionRatio=1.0

    # Percent of damage taken from dragonBreath that can be absorbed by the MekaSuit when there is enough power and a full suit is equipped.
    D:dragonBreathDamageReductionRatio=1.0

    # Energy usage (Joules) of MekaSuit per unit of damage applied.
    D:energyUsageDamage=100000.0

    # Energy cost.
    D:energyUsageFall=50.0

    # Energy usage.
    D:energyUsageGravitationalModulation=1000.0

    # Energy usage.
    D:energyUsageHydrostaticRepulsion=500.0

    # Energy usage.
    D:energyUsageItemAttraction=250.0

    # Energy cost.
    D:energyUsageMagicReduce=1000.0

    # Energy.
    D:energyUsageNutritionalInjection=20000.0

    # Energy.
    D:energyUsagePotionTick=40000.0

    # Energy usage.
    D:energyUsageSprintBoost=100.0

    # Energy usage.
    D:energyUsageVisionEnhancement=500.0

    # Percent of damage taken from fall that can be absorbed by the MekaSuit when there is enough power and a full suit is equipped.
    D:fallDamageReductionRatio=1.0

    # Percent of damage taken from fallingBlock that can be absorbed by the MekaSuit when there is enough power and a full suit is equipped.
    D:fallingBlockDamageReductionRatio=1.0

    # Percent of damage taken from flyIntoWall that can be absorbed by the MekaSuit when there is enough power and a full suit is equipped.
    D:flyIntoWallDamageReductionRatio=1.0

    # Percent of damage taken from generic that can be absorbed by the MekaSuit when there is enough power and a full suit is equipped.
    D:genericDamageReductionRatio=1.0

    # Rate.
    D:geothermalChargingRate=10.5

    # Ratio
    D:heatDamageReductionRatio=0.800000011920929

    # Percent of damage taken from hotFloor that can be absorbed by the MekaSuit when there is enough power and a full suit is equipped.
    D:hotFloorDamageReductionRatio=1.0

    # Percent of damage taken from inFire that can be absorbed by the MekaSuit when there is enough power and a full suit is equipped.
    D:inFireDamageReductionRatio=1.0

    # Percent of damage taken from inWall that can be absorbed by the MekaSuit when there is enough power and a full suit is equipped.
    D:inWallDamageReductionRatio=1.0

    # Inventory charge rate.
    D:inventoryChargeRate=10000.0

    # Max storage.
    I:jetpackMaxStorage=48000

    # Transfer rate.
    I:jetpackTransferRate=256

    # Percent of damage taken from lava that can be absorbed by the MekaSuit when there is enough power and a full suit is equipped.
    D:lavaDamageReductionRatio=1.0

    # Percent of damage taken from lightningBolt that can be absorbed by the MekaSuit when there is enough power and a full suit is equipped.
    D:lightningBoltDamageReductionRatio=1.0

    # Ratio
    D:magicDamageReductionRatio=1.0

    # Energy.
    D:mekaEnergyUsageHealthRegeneration=100.0

    # Charge rate.
    D:mekaFishBaseChargeRate=100000.0

    # Capacity.
    D:mekaFishBaseEnergyCapacity=1.6E7

    # Speed
    D:mekaToolAttackSpeed=-2.4

    # Charge rate.
    D:mekaToolBaseChargeRate=100000.0

    # Damage.
    I:mekaToolBaseDamage=4

    # Efficiency.
    D:mekaToolBaseEfficiency=4.0

    # Usage.
    D:mekaToolEnergyUsage=10.0

    # Usage.
    D:mekaToolEnergyUsageHoe=10.0

    # Usage.
    D:mekaToolEnergyUsageShearEntity=10.0

    # Usage.
    D:mekaToolEnergyUsageShovel=10.0

    # Usage.
    D:mekaToolEnergyUsageSilk=100.0

    # Usage.
    D:mekaToolEnergyUsageTeleport=1000.0

    # Usage.
    D:mekaToolEnergyUsageWeapon=2000.0

    # Extended.
    B:mekaToolExtendedMining=true

    # Reach.
    D:mekaToolMaxTeleportReach=100.0

    # Capacity.
    D:mekaToolbaseEnergyCapacity=1.6E7

    # Max storage.
    I:nutritionalMaxStorage=128000

    # Transfer rate.
    I:nutritionalTransferRate=256

    # Percent of damage taken from onFire that can be absorbed by the MekaSuit when there is enough power and a full suit is equipped.
    D:onFireDamageReductionRatio=1.0

    # Rate.
    D:solarRechargingRate=500.0

    # Ratio
    D:unspecifiedDamageReductionRatio=1.0

    # Percent of damage taken from wither that can be absorbed by the MekaSuit when there is enough power and a full suit is equipped.
    D:witherDamageReductionRatio=1.0

    armor {
        # Base durability multiplier for steel armor.
        I:Durability=50

        # Natural enchantability factor for steel armor.
        I:Enchantability=40

        # Armor toughness value for steel armor.
        D:Toughness=4.0

        protection {
            # Protection value for steel chestplates.
            I:Chest=12

            # Protection value for steel boots.
            I:Feet=5

            # Protection value for steel helmets.
            I:Head=5

            # Protection value for steel leggings.
            I:Legs=8
        }

    }

    tool {

        regular {
            # Base attack damage for steel tools.
            I:AttackDamage=10

            # Attack damage for steel axe.
            D:AxeAttackDamage=12.0

            # Attack speed for steel axe.
            D:AxeAttackSpeed=-2.0

            # Mining speed for steel tools.
            D:Efficiency=20.0

            # Natural enchantability factor for steel tools.
            I:Enchantability=40

            # Harvest level for steel tools.
            I:HarvestLevel=3

            # Maximum durability for steel shields.
            I:MaxShieldUses=2240

            # Maximum durability of steel tools.
            I:MaxUses=2500
        }

        paxel {
            # Base attack damage for steel tools.
            I:AttackDamage=10

            # Mining speed for steel tools.
            D:Efficiency=25.0

            # Natural enchantability factor for steel tools.
            I:Enchantability=50

            # Harvest level for steel tools.
            I:HarvestLevel=3

            # Maximum durability for steel shields.
            I:MaxShieldUses=2740

            # Maximum durability of steel tools.
            I:MaxUses=3000
        }

    }

}


 