# Configuration file

upgrades {
    # Max stack size for energy upgrades.
    I:MaxEnergyStackSize=8

    # Max energy upgrades per machine.
    I:MaxEnergyUpgrades=8

    # Max stack size for gas upgrades.
    I:MaxGasStackSize=8

    # Max gas upgrades per machine.
    I:MaxGasUpgrades=8

    # Max stack size for muffling upgrades.
    I:MaxMufflingStackSize=4

    # Max muffling upgrades per machine.
    I:MaxMufflingUpgrades=4

    # Max stack size for speed upgrades.
    I:MaxSpeedStackSize=8

    # Max speed upgrades per machine.
    I:MaxSpeedUpgrades=8

    # Max stack size for thread upgrades.
    I:MaxThreadStackSize=8

    # Max thread upgrades for multiblock machines.
    I:MaxThreadUpgrades=8

    # Max stack size for Tier Installers.
    I:MaxTierInstallerStackSize=8
}


