# Configuration file

worldgen {
    # Chance that copper generates in a chunk. (0 to Disable)
    I:CopperPerChunk=16

    # Max number of blocks in a copper vein.
    I:CopperVeinSize=8

    # Allows chunks to retrogen Mekanism ore blocks.
    B:EnableWorldRegeneration=false

    # Chance that fluorite generates in a chunk. (0 to Disable)
    I:FluoritePerChunk=16

    # Max number of blocks in a fluorite vein.
    I:FluoriteVeinSize=8

    # Chance that lead generates in a chunk. (0 to Disable)
    I:LeadPerChunk=16

    # Max number of blocks in a lead vein.
    I:LeadVeinSize=8

    # Chance that osmium generates in a chunk. (0 to Disable)
    I:OsmiumPerChunk=12

    # Max number of blocks in an osmium vein.
    I:OsmiumVeinSize=8

    # Chance that salt generates in a chunk. (0 to Disable)
    I:SaltPerChunk=2

    # Max number of blocks in a salt vein.
    I:SaltVeinSize=6

    # Chance that tin generates in a chunk. (0 to Disable)
    I:TinPerChunk=14

    # Max number of blocks in a tin vein.
    I:TinVeinSize=8

    # Chance that uranium generates in a chunk. (0 to Disable)
    I:UraniumPerChunk=16

    # Max number of blocks in a uranium vein.
    I:UraniumVeinSize=8

    # Change this value to cause Mekanism to regen its ore in all loaded chunks.
    I:WorldRegenVersion=0
}


